* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}
.col-15 {
  float: left;
  width: 15%;
  margin-top: 10px;
}
.col-65 {
  float: left;
  width: 65%;
  margin-top: 10px;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 10px;
}
.info {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.header_links {
  border-radius: 5px;
  background-color: #90EE90;
  padding: 10px;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two
   columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.wrapdiv {
  word-wrap: break-word;
}

/* added for hex editor feature */
.editor-container {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    border: 1px solid #ccc;
}

.line-numbers, .ascii-output {
    padding: 10px;
    background-color: #f7f7f7;
    color: #999;
    text-align: right;
    white-space: pre;
    flex-shrink: 0;
    overflow-y: hidden;
    font-size: 14px;
    line-height: 1.5;
}

.line-numbers{
    width: 80px;
    font-size: 14px;
    line-height: 1.5;
}

.ascii-output{
    width: 240px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
}

.hex-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    outline: none;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 20px; /* Add some space between the form and the samples */
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}