{% extends "base.html" %}
{% block content %}


<!--
  for hex editing
    <div class="editor-container">
        <div class="line-numbers" contenteditable="false"></div>
        <textarea id="hex-input" class="hex-input" spellcheck="false"></textarea>
        <div class="ascii-output" contenteditable="false"></div>
    </div>
-->


<div class="container-container">
  <form id="{{ form_id }}" action="{{ action }}" method="post">
    {% for field in form_fields %}
    <div class="row">
        {% if field.type == 'textarea' %}
             <div class="line-numbers col-15" contenteditable="false"></div>
             <div>
             <textarea id="{{ field.name }}" class="hex-input col-65"  name="{{ field.name }}" placeholder="{{ field.placeholder }}" style="height:200px"></textarea>
             </div>
             <!--     <div id="{{ field.name }}_error" style="color: red;"></div> -->
             <div class="ascii-output col-20" contenteditable="false"></div>
        {% else %}
             <div class="col-25">
             <label for="{{ field.name }}">{{ field.label }}</label>
             </div>
             <div class="col-75">
             <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" min="{{ field.min }}" step="{{ field.step }}" max="{{ field.max }}" size="{{ field.size }}">
             </div>
        {% endif %}
    </div>
    {% endfor %}
    <br>
    <div class="row">
      <input type="submit" value="Generate pcap"/>
    </div>
  </form>
</div>
<br/>
<br/>
<p>Samples</p>
<div class="container">
  {% for sample in samples %}
  <div class="row">
    <div class="col-25">
      {{ sample.title | safe }}
    </div>
    <div class="col-75">
      <div class="wrapdiv">
        {{ sample.data }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
